requests
asgiref==3.2.7
boto3
Django==2.2
django-widget-tweaks==1.4.8
sqlparse==0.3.1
gunicorn==20.1.0
mysql-connector
mysqlclient==2.0.3
pytz==2023.3
django-core
django-storages
pillow
x22223673-ewarranty-management==0.0.2
