container_commands:
  01_migrate:
    command: "source $PYTHONPATH/activate && python3 manage.py migrate"
    leader_only: true
  01_create_superuser:
    command: "source $PYTHONPATH/activate && python3 manage.py createsuperuser --noinput --username admin --email admin@ewms.com"
    leader_only: true
    environment:
      DJANGO_SUPERUSER_PASSWORD: $ADMIN_PASSWORD