{% extends 'customer/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="">
    <h2>Welcome, <span class="text-dark">{{ user.username }}</span></h2>

    <div class="cards">
        <div class="card shadow-sm">
            <h5>Total Products</h5>
            <p>{{total_products}}</p>
        </div>
        <div class="card shadow-sm">
            <h5>Total Warranties</h5>
            <p>{{total_warranties}}</p>
        </div>
        <div class="card  shadow-sm">
            <h5>Approved Claims</h5>
            <p>{{total_claims}}</p>
        </div>
    </div>

    <div class="recent-warranties">
        <h4>Recent Claims</h4>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Claim Date</th>
                    <th>Claim Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for claim in recent_claims %}
                    <tr>
                        <td>{{claim.product}}</td>
                        <td>{{claim.date_of_claim}}</td>
                        <td>{{claim.amount_claimed}}</td>
                        <td>{{claim.status}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="recent-warranties">
        <h4>Active Warranties</h4>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Warranty Period Months</th>
                    <th>expiration_date</th>
                </tr>
            </thead>
            <tbody>
                {% for warranty in active_warranties %}
                    <tr>
                        <td>{{warranty.product}}</td>
                        <td>{{warranty.warranty_period_months}}</td>
                        <td>{{warranty.expiration_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}